@import "@/assets/SASS/utils/_variables.scss";
$popover-max-width: 1000px;

.filter__button {
    width: 125px;
    height: 45px;
    border-radius: 50px;
    background-color: white;
    margin: 15px 10px 15px 10px;
    text-align: center;
    padding-top: 10px;
    font-family: "Raleway";
    color: #939597;
    font-weight: 700;
    border: solid 1px #dbdcde;
    cursor: pointer;
    &:hover {
        background-color: $purple;
        border: solid 1px $purple;
    }
    &:active {
      background-color: $purple;
      border: none;
  }
  }
  
.text-classroom-matches {
  font-family: "Raleway";
  font-size: 20px;
  color: #939597;
  font-weight: 700;
  margin: 30px auto 15px auto;
}

.pc-tag1 {
  width: 150px;
  height: 31px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 25px;
  text-align: center;
  padding-top: 8px;
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  background-color: #6eba7f;
}

.pc-tag2 {
  width: 150px;
  height: 31px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 25px;
  text-align: center;
  padding-top: 8px;
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  background-color: #3c9ccc;
}

.pc-tag3 {
  width: 150px;
  height: 31px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 25px;
  text-align: center;
  padding-top: 8px;
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  background-color: #ea6763;
}

.pc-tag4 {
  width: 150px;
  height: 31px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 25px;
  text-align: center;
  padding-top: 8px;
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  background-color: #fdd25a;
}

.pc-tag5 {
  width: 150px;
  height: 31px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 25px;
  text-align: center;
  padding-top: 8px;
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  background-color: #f79960;
}

#favorite_border {
  color: #dbdcde;
  margin: auto 0px auto 35px;
}

#favorite_border:hover {
  color: #eca0be;
  margin: auto 0px auto 35px;
  cursor: pointer;
}

#favorite_border:active {
  color: #c47e9b;
  margin: auto 0px auto 35px;
  cursor: pointer;
}

.one {
  background-color: transparent;
}

.action-button {
  width: 125px;
  height: 25px;
  border-radius: 50px;
  background-color: #ffffff;
  border: solid 2px #6eba7f;
  color: #6eba7f;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 11px;
  margin: auto;
  padding-top: 3px;
}

.action-button:hover {
  width: 125px;
  height: 25px;
  border-radius: 50px;
  background-color: #6eba7f;
  border: 0px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 11px;
  margin: auto;
  padding-top: 3px;
}

.action-button:active {
  width: 125px;
  height: 25px;
  border-radius: 50px;
  background-color: #408b54;
  border: 0px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 11px;
  margin: auto;
  padding-top: 3px;
}

.action-button-decline {
  border-radius: 5px;
  width: 17px;
  height: 17px;
  background-color: #ea6763;
  border: 0px;
  margin: auto 20px auto auto;
  color: #ffffff;
  font-size: 80%;
  text-align: center;
  padding-top: 3px;
  font-weight: 700;
  cursor: pointer;
}

.action-button-decline:hover {
  border-radius: 5px;
  width: 17px;
  height: 17px;
  background-color: #bb3e40;
  border: 0px;
  margin: auto 20px auto auto;
}

.action-button-decline:active {
  border-radius: 5px;
  width: 17px;
  height: 17px;
  background-color: #ea6763;
  border: 0px;
  margin: auto 20px auto auto;
}

#email {
  font-size: 22px;
  color: #c6c8ca;
  margin: auto;
}

#email:hover {
  font-size: 22px;
  color: #939597;
  margin: auto;
  cursor: pointer;
}

#email:active {
  font-size: 22px;
  color: #c6c8ca;
  margin: auto;
  cursor: pointer;
}

.two {
  background-color: transparent;
}

.three {
  background-color: transparent;
}

.four {
  background-color: transparent;
}

.five {
  background-color: transparent;
}

.six {
  background-color: #dbdcde;
}

.seven {
  background-color: #3c9ccc;
}

.eight {
  background-color: #f79960;
}

.nine {
  background-color: #fdd25a;
}

.ten {
  background-color: #eca0be;
}

.entire-box {
  background-color: #f79960;
}

.leftside {
  background-color: #fdd25a;
  height: 100vh;
//   overflow: scroll;
}

.filter-bar {
  background-color: #ffffff;
  height: 75px;
}

.cardstock {
  background-color: #ffffff;
  height: 100%;
  overflow: scroll;
}

.card {
  width: 750px;
  height: 225px;
  margin: 20px auto 20px auto;
  border: dashed 1px #dbdcde;
  border-radius: 25px;
  padding: 0px;
}

.card-line {
  border-style: dashed;
  padding: 0px;
  margin: 0px;
}

.card-title {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  color: #939597;
  width: 400px;
  margin: 14px 0px 14px 35px;
  padding-top: 3px;
}

.card-subtitle {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  color: #939597;
  padding: 1px 5px 1px 1px;
  margin: 0;
}

.card-subtitle-text {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #939597;
  padding: 1px 1px 1px 5px;
  margin: 0;
}

.google-maps {
  background-color: #3c9ccc;
}

//bootstrap imports