@import "@/assets/SASS/utils/_variables.scss";

$primary: $purple;


.filter__button {
    width: 125px;
    height: 45px;
    border-radius: 50px;
    background-color: white;
    margin: 15px 10px 15px 10px;
    text-align: center;
    padding-top: 7px;
    font-family: "Raleway";
    color: #939597;
    font-weight: 700;
    border: solid 1px #dbdcde;
    cursor: pointer;
    &:hover {
        background-color: $primary;
        border: solid 1px $primary;
    }
    &:active {
      background-color: $primary;
      border: none;
  }
    &:focus {
      background-color: $purple;
      color: #ffffff;
      outline: 0;
      box-shadow: none;
      -webkit-box-shadow:none;
    }
  }
  
  .card__teacher--active {
    border: solid 1px #d1d3d4 !important;
    background-color: #f8f8f8;
    box-sizing: border-box;
  }
  @mixin scrollbar__fancy {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(207, 207, 207); 
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(167, 167, 167); 
    }  
  }
.text-classroom-matches {
  font-family: "Raleway";
  font-size: 25px;
  color: #c7c9cb;
  font-weight: 700;
  margin: 40px auto 15px auto;
  text-align: center;

}

.tag__skills {
  height: 31px;
  margin: 10px 0px 0px 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 25px;
  text-align: center;
  padding-top: 8px;
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: .75px;
  text-transform: capitalize; 
  background-color: $blue;
}

.tag__skills--red {
  @extend .tag__skills;
  background-color: $red;
}

.tag__skills--green {
  @extend .tag__skills;
  background-color: $green
}

.tag__skills--orange {
  @extend .tag__skills;
  background-color: $orange
}

.tag__skills--yellow {
  @extend .tag__skills;
  background-color: $yellow
}

.tag__skills--purple {
  @extend .tag__skills;
  background-color: $purple
}

.tag__skills--pink {
  @extend .tag__skills;
  background-color: $pink
}

.tag__skills--blue {
  @extend .tag__skills;
  background-color: $blue
}

#favorite_border {
  color: #dbdcde;
  margin: auto 0px auto 0px;

}

#favorite_border:hover {
  color: #eca0be;
  margin: auto 0px auto 0px;
  cursor: pointer;
}

#favorite_border:active {
  color: #c47e9b;
  margin: auto 0px auto 0px;
  cursor: pointer;
}

.one {
  background-color: transparent;
}

.action-button {
  width: 125px;
  height: 25px;
  border-radius: 50px;
  background-color: #ffffff;
  border: solid 2px #6eba7f;
  color: #6eba7f;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 12px;
  margin: auto;
  padding-top: 1px;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
  }
  &:hover{
    width: 125px;
    height: 25px;
    border-radius: 50px;
    background-color: #6eba7f;
    border: 0px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 12px;
    margin: auto;
    padding-top: 1px;
  }
  &:active{
    width: 125px;
    height: 25px;
    border-radius: 50px;
    background-color: #408b54;
    border: 0px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 12px;
    margin: auto;
    padding-top: 1px;
  }
}

.action-button-decline {
  border-radius: 5px;
  width: 17px;
  height: 17px;
  background-color: #ea6763;
  border: 0px;
  margin: auto 20px auto auto;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding-top: 1px;
  font-weight: 700;
  cursor: pointer;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
  }
&:hover {
  border-radius: 5px;
  width: 17px;
  height: 17px;
  background-color: #bb3e40;
  border: 0px;
  font-size: 12px;
  margin: auto 20px auto auto;
}
&:active {
  border-radius: 5px;
  width: 17px;
  height: 17px;
  background-color: #ea6763;
  border: 0px;
  font-size: 12px;
  margin: auto 20px auto auto;

}
}


#email {
  font-size: 22px;
  color: #c6c8ca;
  margin: auto;
}

#email:hover {
  font-size: 22px;
  color: #939597;
  margin: auto;
  cursor: pointer;
}

#email:active {
  font-size: 22px;
  color: #c6c8ca;
  margin: auto;
  cursor: pointer;
}

.two {
  background-color: transparent;

}

.three {
  background-color: transparent;

}

.four {
  background-color: transparent;

}

.five {
  background-color: transparent;

}

.six {
  background-color: #dbdcde;

}

.seven {
  background-color: #3c9ccc;

}

.eight {
  background-color: #f79960;

}

.nine {
  background-color: #fdd25a;

}

.ten {
  background-color: #eca0be;

}

.entire-box {
  background-color: #f79960;

}

.leftside {
  background-color: white;
  height: 95vh;

//   overflow: scroll;
}

.filter-bar {
  background-color: #ffffff;
  height: 75px;
  z-index: 2;
  -moz-box-shadow:0px 3px 2px lightgrey;
  -webkit-box-shadow:0px 3px 2px lightgrey;
  box-shadow:0px 2px 2px lightgrey;
  padding-bottom: 75px;

}

.cardstock {
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  overflow: auto;
 @include scrollbar__fancy();
}

.card {
  width: 725px;
  border: dashed 1px #dbdcde;
  border-radius: 25px;
  padding: 0px 0px 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover {
    background-color: #f8f8f8;
    cursor: pointer;
  }

  &:active {
    background-color: #ededee;
    cursor: pointer;
  }

}

.card-line {
  border-style: dashed;
  padding: 0px;
  margin: 0px;
}

.card-title {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  color: #58585b;
  width: 550px;
  margin: 14px 0px 14px 48px;
  padding-top: 3px;
  text-transform: capitalize;

}

.card-subtitle {
  font-family: "Raleway";
  font-size: 9.5px;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: left;
  color: #939597;
  padding: 1px 5px 1px 1px;
  margin: 0;
  line-height: 17px;
  text-transform: uppercase;

}

.card-subtitle-text {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #939597;
  padding: 1px 1px 1px 5px;
  margin: 0;
  text-transform: capitalize;
  line-height: 17px;

}

.google-maps {
  background-color: #3c9ccc;
}

.mm__pagination--row{
  height: 100px;
  padding: 20px 5% 20px 5%;
  margin-bottom: 50px;
}

.nextpage__btn {
  width: 150px;
  height:50px;
  border-radius: 25px;
  font-family: "Raleway";
  font-weight: 700;
  background-color:#c6c8ca;
  font-size: 20px;
  border: none;
  //margin: 25px 5px 50px 15px;
  &:focus {
    color: #ffffff;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow:none;
  }

}

.prevpage__btn {
  width: 150px;
  height:50px;
  border-radius: 25px;
  font-family: "Raleway";
  font-weight: 700;
  background-color:#c6c8ca;
  font-size: 20px;
  border: none;
  margin-left: 65px;
  //margin: 25px 5px 50px 25px;
  &:focus {
    color: #ffffff;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow:none;
  }
}



.custom-control-label {
  color: #939597;


}

.custom-control {
  height: 30px;
  margin: 0px;
  padding-left: 15px;
  width: 500px;
  
}

.popover-body {
  padding: 0px;
  margin: 25px 0px 0px 15px;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
  @include scrollbar__fancy();
}

.popover {
  max-width: 400px;
}

.custom-checkbox {
}

.checkbox {
}

#PopoverFilter {
}

.label {

}

.ranking_number {
text-align: center;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 25px;
  color: #c6c8ca;
  border-radius: 25px;
  padding-top:2px;
}



//bootstrap imports
