body {
   background-color: rgb(124, 123, 123);
  }
  
  #login {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: #d0d7e2;
    margin-top:20%;
    border-radius: 25px;
    font-size: 30px;
}

#login-form {
    margin-left: 10px;
}

#username {
    font-size: 30px;
    border-radius: 25px;
    margin-left: 50px;
}

#password {
    font-size: 30px;
    border-radius: 25px;
    margin-left: 50px;
}

#register-link {
    margin-left: 100px;
}