.exit-button {
    transform:rotate(45deg);
    width:5px;
    height:30px;
    background-color:#dbdcde;
    margin:auto;
    
}

.exit-button2 {
    transform:rotate(-90deg);
    width:5px;
    height:30px;
    background-color:#dbdcde;
    margin:auto;

}