@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin:0px;
    padding:0px;
}

h1 {

    font-family: Raleway-ExtraBold;
    color: #eca0be;
    padding-left:35px;
    font-size: 40px;
    padding-bottom:18px;
}

.form-input {
    
    background-color: #dbdcde;
    width: 1000px;
    height:96px;
    border-radius: 50px;
    border:0px;
    padding-left:35px;
    font-size:40px;
    font-family: Raleway-Italic;
    color: white;   
    
}
 
.form-input::placeholder {
    color: white;
    font-family: Raleway-Italic;
    opacity: 
}
    