<style>
@import url('https://fonts.googleapis.com/css?family=Raleway');
</style>

.h1-title{
    font-family: Raleway;
}

.h2-title{
    font-family: Raleway;
}

.h3-title{
    font-family: Raleway;
}

.h4-title{
    font-family: Raleway;
}

.h5-title{
    font-family: Raleway;
}

.h6-title{
    font-family: Raleway;
}

.h1-phrase{
    font-family: Raleway;
}

.h2-phrase{
    font-family: Raleway;
}

.h3-phrase{
    font-family: Raleway;
}

.h4-phrase{
    font-family: Raleway;
}

.h5-phrase{
    font-family: Raleway;
}

.h6-phrase{
    font-family: Raleway;
}