h1 {
    font-size: 40px;
    font-family: Raleway;
    color: white;
    text-align: center;
    padding:23px

}

.regular-button {
    background-color:#6eba7f;
    width:250px;
    height:96px;
    border-radius: 50px;

}