@import "@/assets/SASS/pages/_matchmaking.scss";

.action-button-pending{
  width: 125px;
  height: 25px;
  border-radius: 50px;
  background-color: #fdd25a;
  border: solid 2px #fdd25a;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 11px;
  margin: auto;
  padding-top: 3px;
  &:hover {
    background-color: #bb3e40;
    border:0px;
    color: #ffffff;
    // &:after{
    //   content:"cancel";
    // }
  }
}

// .action-button-cancel{
//   width: 125px;
//   height: 25px;
//   border-radius: 50px;
//   background-color: #bb3e40;
//   border: solid 0px #bb3e40;
//   color: white;
//   font-family: "Raleway";
//   font-weight: 700;
//   font-size: 11px;
//   margin: auto;
//   padding-top: 3px;
//   // &:hover {
//   //   background-color: #bb3e40;
//   //   border:0px;
//   //   color:#ffffff;
//   // }
// }