//
// all the colors
// --------------------------------------------------


//== Colors

$green:			6eba7f;
$blue: 			3c9ccc;
$red: 			ea6763;
$yellow: 		fdd25a;
$orange: 		f79960;
$pink: 			eca0be;
$purple: 		ae90b0;
$lightgrey: 	dedfe0;
