//
// all the colors
// --------------------------------------------------


//== Colors

$white: #fff;
$black: #000;
$green: #6eba7f;
$blue: #3c9ccc;
$orange: #f79960;
$yellow: #fdd25a;
$red: #ea6763;
$purple: #ae90b0;
$pink: #eca0be;
$lightgrey: #dedfe0;
$darkgrey:#9395975b;